header{
    background-color: aquamarine;
}
h1{
    text-align: center;
}
nav{
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
a{
    text-decoration: none;
}
.main{
    display: flex;
    justify-content: space-between;
    justify-items: center;

}
img {
    width: 150px;
}
span{
    display: block;
    color: green;
    text-align: center;
}
